<ion-header>
    <ion-navbar hideBackButton [color]="gameState ? 'success' : 'primary'">
        <ion-title>Guess</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding class="game-container">

    <ion-card *ngIf="global.me && global.me.username.length">
        <ion-item>
            <ion-icon name="at" item-start></ion-icon> Username
            <ion-badge item-end color="secondary">{{ global.me.username }}</ion-badge>
        </ion-item>
    </ion-card>

    <ion-card *ngIf="global.me && global.me.id">
        <ion-item>
            <ion-icon name="finger-print" item-start></ion-icon> Id
            <ion-badge item-end color="secondary">{{ global.me.id.substr(0,12) }}</ion-badge>
        </ion-item>
    </ion-card>

    <ion-card *ngIf="global.me && global.me.chance !== undefined">
        <ion-item>
            <ion-icon name="battery-charging" item-start (dblclick)="global.fakeAdmin.emit('start');"></ion-icon> Chance
            <ion-badge item-end color="secondary">{{ global.me.chance }}</ion-badge>
        </ion-item>
    </ion-card>

    <ion-card *ngIf="global.playerCount !== undefined">
        <ion-item>
            <ion-icon name="people" item-start></ion-icon> Total Players
            <ion-badge item-end color="secondary">{{ global.playerCount }}</ion-badge>
        </ion-item>
    </ion-card>

    <ion-card *ngIf="global.in === true">
        <ion-item>
            <ion-label floating>Number</ion-label>
            <ion-input type="number" [(ngModel)]="magic"></ion-input>
        </ion-item>
    </ion-card>

    <ion-card *ngIf="global.in === false">
        <ion-item>
            <ion-label floating>Username</ion-label>
            <ion-input type="text" [(ngModel)]="username"></ion-input>
        </ion-item>
    </ion-card>

    <div padding *ngIf="global.in === true">
        <button ion-button block (click)="guess()" [disabled]="!magic" [color]="gameState ? 'success' : 'primary'">Send</button>
    </div>

    <div padding *ngIf="global.in === false">
        <button ion-button block (click)="join()" [disabled]="!username" [color]="gameState ? 'success' : 'primary'">Join</button>
    </div>

</ion-content>
